<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width:30%">Full Name</th>
                <th style="width:30%">Username</th>
                <th style="width:30%">Active roles</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.fullName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>                
                <td><button class="btn btn-info" (click)="openRolesModal(user)"><i class="fa fa-edit"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
